.flecha {
    width: 100px;
    margin-top: 10px;
}

.buscador {
    margin-top:40px;
    margin-bottom: 5px;
}

.Want {
    margin-top: 20px;
}
.formatoFoto{
    width:300px;
   
    justify-content: center;
    margin: 0 auto;
}